body {
    background-color: #424242;
}

.calendar-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 900px;
    background-color: #ffffff;
}

.calendar-header {
    position: relative;
    height: 100px;
    background-color: #f4f4f4;
    box-shadow: 0px 3px 2px #d0d0d0;
}

.calendar-control-block {
    position: absolute;
    left: 50px;
    bottom: 20px;
}

.button-control {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0271c7;
    border: 1px solid #0271c7;
    padding: 4px 10px;
    margin-right: 6px;
    border-radius: 2px;
    box-shadow: 0px 2px 1px #bdbdbd;
    text-shadow: 0px 2px 1px #015290;
}

.button-control:hover {
    background-color: #1581d7;
}

.calendar-find-block {
    position: absolute;
    right: 50px;
    bottom: 20px;
    font-size: 12px;
}

.calendar-find-block div {
    display: inline-block;
}

.button-magnifier {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    background: url("../img/images.png") no-repeat;
}

.input-find {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    box-shadow: 0px -1px 1px #b1b1b1;
    padding: 4px 10px;
    width: 200px;
}

.input-find[type="text"] {
    font-size: 12px;
}

.calendar-events-wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.calendar-navigator {
    padding: 10px 0;
}

.button-navigator {
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    /*background: radial-gradient(ellipse at center, #fffff 0%,#dfdfdf 100%);*/
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fffff), color-stop(100%,#dfdfdf));*/
    /*padding: 2px;*/
    vertical-align: middle;
}

.button-navigator:hover {
    background-color: #eeeeee;
}

.button-left {
    width: 18px;
    /*height: 22px;*/
    background: url(../img/images.png) -29px 1px no-repeat;
}

.button-right {
    width: 18px;
    /*height: 22px;*/
    background: url(../img/images.png) -16px 1px no-repeat;
}

.button-today {
    /*height: 22px;*/
}

.calendar-show-month-year {
    display: inline-block;
    width: 90px;
    text-align: center;
    font-size: 12px;
}

.calendar-events {

}

.calendar-events-row {
    height: 114px;
    white-space: nowrap;
}

.calendar-events-row:first-child .cell {
    border-top: 1px solid #ebebeb;
}

.calendar-events-row .cell:first-child {
    border-left: 1px solid #ebebeb;
}

.cell {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    /*box-sizing: border-box;*/
    display: inline-block;
    min-width: 114px;
    min-height: 100px;
    height: 100px;
    padding: 6px;
    font-size: 10px;
    color: #999999;
}

.current-day {
    background-color: #f4f4f4;
    font-weight: bold;
}
