.calendar-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 1000px;
}

.calendar-header {
    height: 100px;
    background-color: #f4f4f4;
}

.calendar-events-wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.calendar-navigator {
    padding: 10px 0;
}

.calendar-show-month-year {
    display: inline-block;
    width: 140px;
    text-align: center;
}

.calendar-events {

}

.calendar-events-row {
    height: 114px;
    white-space: nowrap;
}

.calendar-events-row:first-child .cell {
    border-top: 1px solid #ebebeb;
}

.calendar-events-row .cell:first-child {
    border-left: 1px solid #ebebeb;
}

.cell {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    /*box-sizing: border-box;*/
    display: inline-block;
    min-width: 114px;
    min-height: 100px;
    height: 100px;
    padding: 6px;
    font-size: 10px;
    color: #999999;
}
